<div class="mainheading center">
  <h1 class="sitetitle">Modern Book Sharing</h1>
  <p class="lead">The best book sharing platform for everyone</p>
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>
