<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>

<div class="card-columns listfeaturedtag">
  <%= render @books %>
</div>

<%= will_paginate @books,
  renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer,
  class: "justify-content-center" %>
