<% provide :title, t(".title") %>
<h1><%= t ".title" %></h1>

<div class="after-post-tags">
  <ul class="tags">
    <%= render @categories %>
  </ul>
</div>

<% if current_user.admin? %>
  <%= link_to t(".new_category"), new_category_path %>
<% end %>
