<% provide :title, @category.name %>

<p>
  <strong><%= t ".name" %></strong>
  <%= @category.name %>
</p>

<%= link_to t(".edit"), edit_category_path(@category) %> |
<%= link_to t(".back"), categories_path %>
