<div class="footer">
  <p class="pull-left">Copyright &copy; 2018 - Team 3</p>
  <p class="pull-right">
    Modern Book Sharing Theme by 
    <a target="_blank" href="https://www.facebook.com/manhcuongdtbk">manhcuongdtbk</a>
  </p>
  <div class="clearfix">
  </div>
</div>
